<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Default</servlet-name>
        <servlet-class>ServletsOAB.Default</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>ServletsOAB.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ServletsOAB.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ServletsOAB.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCliente</servlet-name>
        <servlet-class>ServletsOAB.BuscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NvoCliente</servlet-name>
        <servlet-class>ServletsOAB.NvoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCitapEsp</servlet-name>
        <servlet-class>ServletsOAB.BuscarCitapEsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCitasdHoy</servlet-name>
        <servlet-class>ServletsOAB.VerCitasdHoy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCitaspFecha</servlet-name>
        <servlet-class>ServletsOAB.VerCitaspFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarServicio</servlet-name>
        <servlet-class>ServletsOAB.AgregarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerServicios</servlet-name>
        <servlet-class>ServletsOAB.VerServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NvoAdmin</servlet-name>
        <servlet-class>ServletsOAB.NvoAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NvoGerente</servlet-name>
        <servlet-class>ServletsOAB.NvoGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NvaRecepcionista</servlet-name>
        <servlet-class>ServletsOAB.NvaRecepcionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NvoEspecialista</servlet-name>
        <servlet-class>ServletsOAB.NvoEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAdmin</servlet-name>
        <servlet-class>ServletsOAB.BuscarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarGerente</servlet-name>
        <servlet-class>ServletsOAB.BuscarGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarRecep</servlet-name>
        <servlet-class>ServletsOAB.BuscarRecep</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarEspecialista</servlet-name>
        <servlet-class>ServletsOAB.BuscarEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAdmin</servlet-name>
        <servlet-class>ServletsOAB.EditarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarGerente</servlet-name>
        <servlet-class>ServletsOAB.EditarGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarRecepcionista</servlet-name>
        <servlet-class>ServletsOAB.EditarRecepcionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEspecialista</servlet-name>
        <servlet-class>ServletsOAB.EditarEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaAdmin</servlet-name>
        <servlet-class>ServletsOAB.BajaAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaGerente</servlet-name>
        <servlet-class>ServletsOAB.BajaGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaRecepcionista</servlet-name>
        <servlet-class>ServletsOAB.BajaRecepcionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaEspecialista</servlet-name>
        <servlet-class>ServletsOAB.BajaEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCliente</servlet-name>
        <servlet-class>ServletsOAB.EditarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectServ</servlet-name>
        <servlet-class>ServletsOAB.SelectServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarClientepCita</servlet-name>
        <servlet-class>ServletsOAB.BuscarClientepCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusqClientepCita</servlet-name>
        <servlet-class>ServletsOAB.BusqClientepCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusqCliente</servlet-name>
        <servlet-class>ServletsOAB.BusqCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesCliente</servlet-name>
        <servlet-class>ServletsOAB.DetallesCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCliente</servlet-name>
        <servlet-class>ServletsOAB.RegistrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectEspecialista</servlet-name>
        <servlet-class>ServletsOAB.SelectEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectFechaCita</servlet-name>
        <servlet-class>ServletsOAB.SelectFechaCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgendarCita</servlet-name>
        <servlet-class>ServletsOAB.AgendarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosponerCita</servlet-name>
        <servlet-class>ServletsOAB.PosponerCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarPosposicionCita</servlet-name>
        <servlet-class>ServletsOAB.VerificarPosposicionCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarCita</servlet-name>
        <servlet-class>ServletsOAB.CancelarCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarCancelacion</servlet-name>
        <servlet-class>ServletsOAB.VerificarCancelacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCitapCliente</servlet-name>
        <servlet-class>ServletsOAB.BuscarCitapCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusqCitaspEspecialista</servlet-name>
        <servlet-class>ServletsOAB.BusqCitaspEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusqCitaspFecha</servlet-name>
        <servlet-class>ServletsOAB.BusqCitaspFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCliente</servlet-name>
        <servlet-class>ServletsOAB.ActualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaCliente</servlet-name>
        <servlet-class>ServletsOAB.BajaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarBajaCliente</servlet-name>
        <servlet-class>ServletsOAB.VerificarBajaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarRecepcionista</servlet-name>
        <servlet-class>ServletsOAB.RegistrarRecepcionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarGerente</servlet-name>
        <servlet-class>ServletsOAB.RegistrarGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarAdmin</servlet-name>
        <servlet-class>ServletsOAB.RegistrarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEspecialista</servlet-name>
        <servlet-class>ServletsOAB.RegistrarEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusqEspecialista</servlet-name>
        <servlet-class>ServletsOAB.BusqEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesEspecialista</servlet-name>
        <servlet-class>ServletsOAB.DetallesEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEspecialista</servlet-name>
        <servlet-class>ServletsOAB.ActualizarEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusqRecepcionista</servlet-name>
        <servlet-class>ServletsOAB.BusqRecepcionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesRecepcionista</servlet-name>
        <servlet-class>ServletsOAB.DetallesRecepcionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusqGerente</servlet-name>
        <servlet-class>ServletsOAB.BusqGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesGerente</servlet-name>
        <servlet-class>ServletsOAB.DetallesGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusqAdministrador</servlet-name>
        <servlet-class>ServletsOAB.BusqAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesAdmin</servlet-name>
        <servlet-class>ServletsOAB.DetallesAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarRecepcionista</servlet-name>
        <servlet-class>ServletsOAB.ActualizarRecepcionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarGerente</servlet-name>
        <servlet-class>ServletsOAB.ActualizarGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarAdministrador</servlet-name>
        <servlet-class>ServletsOAB.ActualizarAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarBajaRecepcionista</servlet-name>
        <servlet-class>ServletsOAB.VerificarBajaRecepcionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarBajaGerente</servlet-name>
        <servlet-class>ServletsOAB.VerificarBajaGerente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarBajaAdmin</servlet-name>
        <servlet-class>ServletsOAB.VerificarBajaAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarBajaEspecialista</servlet-name>
        <servlet-class>ServletsOAB.VerificarBajaEspecialista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServicio</servlet-name>
        <servlet-class>ServletsOAB.RegistrarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarServicio</servlet-name>
        <servlet-class>ServletsOAB.EditarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarServicio</servlet-name>
        <servlet-class>ServletsOAB.EliminarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarServicio</servlet-name>
        <servlet-class>ServletsOAB.ActualizarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarBajaServicio</servlet-name>
        <servlet-class>ServletsOAB.VerificarBajaServicio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Default</servlet-name>
        <url-pattern>/Default</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCliente</servlet-name>
        <url-pattern>/BuscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NvoCliente</servlet-name>
        <url-pattern>/NvoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCitapEsp</servlet-name>
        <url-pattern>/BuscarCitapEsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCitasdHoy</servlet-name>
        <url-pattern>/VerCitasdHoy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCitaspFecha</servlet-name>
        <url-pattern>/VerCitaspFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarServicio</servlet-name>
        <url-pattern>/AgregarServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerServicios</servlet-name>
        <url-pattern>/VerServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NvoAdmin</servlet-name>
        <url-pattern>/NvoAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NvoGerente</servlet-name>
        <url-pattern>/NvoGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NvaRecepcionista</servlet-name>
        <url-pattern>/NvaRecepcionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NvoEspecialista</servlet-name>
        <url-pattern>/NvoEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarAdmin</servlet-name>
        <url-pattern>/BuscarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarGerente</servlet-name>
        <url-pattern>/BuscarGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarRecep</servlet-name>
        <url-pattern>/BuscarRecep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarEspecialista</servlet-name>
        <url-pattern>/BuscarEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAdmin</servlet-name>
        <url-pattern>/EditarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarGerente</servlet-name>
        <url-pattern>/EditarGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarRecepcionista</servlet-name>
        <url-pattern>/EditarRecepcionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEspecialista</servlet-name>
        <url-pattern>/EditarEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaAdmin</servlet-name>
        <url-pattern>/BajaAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaGerente</servlet-name>
        <url-pattern>/BajaGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaRecepcionista</servlet-name>
        <url-pattern>/BajaRecepcionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaEspecialista</servlet-name>
        <url-pattern>/BajaEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCliente</servlet-name>
        <url-pattern>/EditarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectServ</servlet-name>
        <url-pattern>/SelectServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarClientepCita</servlet-name>
        <url-pattern>/BuscarClientepCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusqClientepCita</servlet-name>
        <url-pattern>/BusqClientepCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusqCliente</servlet-name>
        <url-pattern>/BusqCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesCliente</servlet-name>
        <url-pattern>/DetallesCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarCliente</servlet-name>
        <url-pattern>/RegistrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEspecialista</servlet-name>
        <url-pattern>/SelectEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectFechaCita</servlet-name>
        <url-pattern>/SelectFechaCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgendarCita</servlet-name>
        <url-pattern>/AgendarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosponerCita</servlet-name>
        <url-pattern>/PosponerCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarPosposicionCita</servlet-name>
        <url-pattern>/VerificarPosposicionCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarCita</servlet-name>
        <url-pattern>/CancelarCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarCancelacion</servlet-name>
        <url-pattern>/VerificarCancelacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCitapCliente</servlet-name>
        <url-pattern>/BuscarCitapCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusqCitaspEspecialista</servlet-name>
        <url-pattern>/BusqCitaspEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusqCitaspFecha</servlet-name>
        <url-pattern>/BusqCitaspFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCliente</servlet-name>
        <url-pattern>/ActualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaCliente</servlet-name>
        <url-pattern>/BajaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarBajaCliente</servlet-name>
        <url-pattern>/VerificarBajaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarRecepcionista</servlet-name>
        <url-pattern>/RegistrarRecepcionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarGerente</servlet-name>
        <url-pattern>/RegistrarGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarAdmin</servlet-name>
        <url-pattern>/RegistrarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEspecialista</servlet-name>
        <url-pattern>/RegistrarEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusqEspecialista</servlet-name>
        <url-pattern>/BusqEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesEspecialista</servlet-name>
        <url-pattern>/DetallesEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEspecialista</servlet-name>
        <url-pattern>/ActualizarEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusqRecepcionista</servlet-name>
        <url-pattern>/BusqRecepcionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesRecepcionista</servlet-name>
        <url-pattern>/DetallesRecepcionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusqGerente</servlet-name>
        <url-pattern>/BusqGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesGerente</servlet-name>
        <url-pattern>/DetallesGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusqAdministrador</servlet-name>
        <url-pattern>/BusqAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesAdmin</servlet-name>
        <url-pattern>/DetallesAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarRecepcionista</servlet-name>
        <url-pattern>/ActualizarRecepcionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarGerente</servlet-name>
        <url-pattern>/ActualizarGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarAdministrador</servlet-name>
        <url-pattern>/ActualizarAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarBajaRecepcionista</servlet-name>
        <url-pattern>/VerificarBajaRecepcionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarBajaGerente</servlet-name>
        <url-pattern>/VerificarBajaGerente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarBajaAdmin</servlet-name>
        <url-pattern>/VerificarBajaAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarBajaEspecialista</servlet-name>
        <url-pattern>/VerificarBajaEspecialista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServicio</servlet-name>
        <url-pattern>/RegistrarServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarServicio</servlet-name>
        <url-pattern>/EditarServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarServicio</servlet-name>
        <url-pattern>/EliminarServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarServicio</servlet-name>
        <url-pattern>/ActualizarServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarBajaServicio</servlet-name>
        <url-pattern>/VerificarBajaServicio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
